<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, user-scalable=no">

        <link href='js/vendor/mapbox/mapbox.css' rel='stylesheet' />
        <link href="css/main.css" rel="stylesheet" />
        <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>

        <script src="js/vendor/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>

        <script type="text/javascript" charset="utf-8">
            window.getParameter = function(name) {
                name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
                var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                    results = regex.exec(location.search);
                return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
            }
        </script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div id="app" class="is-empty">
            <div id="map">
            </div>
            <div class="overlay">
                <div class="overlay__inner">
                    <div class="filters-panel clearfix">
                        <div class="filters-panel__filter">
                            <a href="#" data-type="studio" class="filter filter__type js-filter-type is-selected">Studio</a>
                            <a href="#" data-type="showcase" class="filter filter__type js-filter-type">Showcase</a>
                        </div>
                        <div class="filters-panel__filter filters-panel__filter--twocols js-filters-panel-countries clearfix">
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlay overlay--content">
                <div class="overlay__inner clearfix">
                    <div id="content">
                        <div class="content__items clearfix">

                        </div>
                    </div>
                </div>
            </div>
            <div class="control-info">
                <a class="control-info__pane control-info__toggle-filters js-toggle-filters is-open" href=""></a>
                <div class="control-info__pane control-info__zoom js-info-zoom">ZOOM IN TO REVEAL CONTENT</div>
                <div class="control-info__pane control-info__country js-info-country">
                    Country: <span class="control-info__filtered-country js-info-filtered-country"</span>
                </div>
                <div class="control-info__pane control-info__country js-info-country">
                    Exhibition: <span class="control-info__filtered-country js-info-filtered-exhibition"</span>
                </div>
            </div>
            <a href="" class="control-info__pane control-info__fullscreen js-fullscreen">Fullscreen</a>
        </div>

        <script id="ifstpl__popup" type="text/template">

            <div class="popup map__popup">
                <div class="map__popup-title">Designer</div>
                <span class="map__popup-name"><%= name %></span><br/>
                <span class="map__popup-country">from <%= country %></span>
            </div>

        </script>

        <script id="ifstpl__filter-country" type="text/template">

            <span class="filter__country-inner"><%= country %></span>

        </script>

        <script id="ifstpl__content-item" type="text/template">

            <div class="content-item__image">
                <img src="<%= images.low_resolution.url %>" />
                <div style="background-image: url('<%= images.low_resolution.url %>');"
                    class="replacement"></div>
            </div>
            <div class="content-item__box">
                <% if(caption && caption.text) { %><%= caption.text+" "+custom_caption %><% } else { %><%= custom_caption %> <% } %>
            </div>
            <div class="content-item__box content-item__user clearfix">
                <a target="_blank" class="content-item__profile" href="http://instagram.com/<%=user.username %>">
                    <img title="<%=user.username %> Profile Picture" src="<%= user.profile_picture %>" />
                </a>
                <div class="content-item__user-info">
                    <span class="content-item__name"><%= user.full_name %></span>
                    <span class="content-item__country"><%= country %> / <%= shortcode %></span>
                </div>
            </div>
            <div class="content-item__box clearfix">
                <ul class="content-item__custom-tags">
                <% _.forEach(custom_tags, function(tag) { %><li><%= tag %></li><% }); %>
                </ul>
            </div>

        </script>

        <!-- <script src="js/vendor/require/require.min.js" data-main="js/app/config.js"></script> 
        <script src="js/vendor/require/require.min.js" data-main="js/dist.js"></script>
        -->
        <script type="text/javascript" charset="utf-8">
            var main = document.createElement('script');

            if( getParameter('debug') === 'true' ){
                main.setAttribute('data-main', "js/app/config.js");
            } else {
                main.setAttribute('data-main', "js/dist.js");
            }
            main.src = "js/vendor/require/require.min.js";
            document.body.appendChild(main);

        </script>

    </body>
</html>
