$item-width: 170px;
$item-border: 8px;
$item-border-radius: 3px;

#content {
    pointer-events:none;
    background-color: $colour-panelbg;
    height: 100%;
    position: relative;
    left: 0;
}

.content__items {
    padding: 70px $item-border 0 0;
    width: ($item-width+$item-border)*2;
}

.content-item {
    width:  $item-width;
    background: white;
    @include vendor-prefix(border-radius, $item-border-radius);
    margin: 0 0 $item-border $item-border;
    float: left;
    opacity: 0.55;
}

.content-item__box {
    padding: 7px;
    border-bottom: solid 1px #ececec;
}

.content-item__user {
    height: 30px;
}

.content-item__profile {
    width: auto;
    height: 100%;
    float: left;
}

.content-item__user-info {
    float: left;
    margin-left: 4px;
    color: $colour-content-info;
}

.content-item__custom-tags {
    list-style:none;
    margin: 0;
    padding: 0;
    color: $colour-content-customtags;
    li {
        display: inline-block;
        margin-left : 3px;
        &:after {
            position : relative;
            left : 1px;
            content : "/";
            height: 75%;
        }
        &:last-child:after {
            content: ""
        }
    }
}

.content-item.is-focussed {
    opacity: 1;
    // background: #f72a34;
}

.content-item__image {
    min-height: $item-width;
    position: relative;
    img {
        visibility: hidden;
    }
    .replacement {
        @include vendor-prefix(border-radius, $item-border-radius $item-border-radius 0 0);
        position: absolute;
        top: 0;
        width:  100%;
        height: 100%;
        background-size: 100% 100%;
    }
}

// No rounded corners.
.lt-ie9 {
    .content-item__image {
        position: static;
        img {
            visibility: visible;
        }
    }
    .replacement {
        display: none;
    }
}
