.filters-panel {
    // position: relative;
    // top: 0;
    height: auto;
    // width: percentagewidth(95px, $base-width);
    width: 95px;
    //padding: 10px percentagewidth(27px, $base-width) 0;
    padding: 8px 8px 0;
    margin: 0 0  0 16px;
    // margin: 16px 0  0 percentagewidth(16px, $base-width);
    background: $colour-panelbg;
    // float: left;
}

.has-hidden-filters .filters-panel {
    left: (95+8+8+16)*-1px;
}

.filters-panel__filter--twocols {

    padding-left: 8px;

    .filter__country {
        width: 50%;
        float: left;
    }

    .filter__country {
        &.is-odd {
            margin-left: -8px;
            margin-right: 8px;
        }
    }

}


.filter {
    display: block;
    color: white;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 6px;
    background: black;
    padding: 3px 0;
}

.filter__type {

}

.filter__type.is-selected,
.filter__country.is-selected {
    background-color: $colour-filteractive;
}

.filter__country:last-child {
    margin-bottom: 6px;
}

