.filters-panel {
    position: relative;
    height: auto;
    width: 95px;
    padding: 8px 8px 0;
    margin: 0 0  0 16px;
    @include rgba-fb("bg", $colour-panelbg, $colour-panelbg-opacity);
    font-weight: bold;
    letter-spacing: 2px;
}

.has-hidden-filters .filters-panel {
    left: (95+8+8+16)*-1px;
}

.filters-panel__filter--twocols {

    padding-left: 8px;

    .filter__country {
        width: 50%;
        float: left;
    }

    .filter__country {
        &.is-odd {
            margin-left: -8px;
            margin-right: 8px;
        }
    }

}


.filter {
    display: block;
    color: white;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 6px;
    background: black;
    padding: 3px 0;
}

.filter.is-long {
    letter-spacing: 1px;
}

.filter__type {

}

.filter__type.is-selected,
.filter__country.is-selected {
    background-color: $colour-filteractive;
}

.filter__country:last-child {
    margin-bottom: 6px;
}

